includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
    excludePaths:
        - ./vendor/*
        - ./tests/*
        - ./node_modules/*
        - ./storage/*
